<div class="row">
    {{debug}}
    {{#each data}}
      <ul class="row slide" id="sl{{@key}}">

        {{#each this}}
          <li class="image col-sm-4"
              style="background-image:url('/{{path}}/{{fileName}}');"
          >
          </li>
        {{/each}}
        <h1 class="col-sm-12 sub">{{this.[0].text}}</h1>
      </ul>
    {{/each}}
</div>
