<div>
    {{debug}}
    {{#each data}}
      <ul class="row slide">
        <h5>{{@key}}<br>—<br><br>{{this.[0].text}}</h5>
        {{#each this}}
          <li class="image col-sm-{{math 12 "/" ../this.length}}"
              style="background-image:url('/{{path}}/{{fileName}}');"
          >
          </li>
        {{/each}}
      </ul>
    {{/each}}
</div>
